/**
 * © Alfred-Wegener-Institute Bremerhaven, Germany (2021)
 * @author Benjamin Thomas Schwertfeger (January 2022)
 * @email development@b-schwertfeger.de
 * @link https://github.com/btschwertfeger-AWI-Workspace/Orbit-astronomical-theory-of-ice-ages
 **/

:root {
  --primary-bg-color: white;
  --primary-font-color: black;
  --primary-font-size: 18px;
  --primary-font-family: Helvetica;
}

* {
  font-family: var(--primary-font-family);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  /* avoid transition flickering */
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  /* -webkit-transform-style: preserve-3d; */
}

/* ----- HIDE SCROLLBARS ----- */
::-webkit-scrollbar {
  width: 1px;
  height: 100%;
}
::-webkit-scrollbar-button {
  background: transparent;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
/* ----- HIDE SCROLLBARS ----- */
​ html {
  font-family: var(--primary-font-family);
  margin: 0px;
  padding: 0px;
  color: var(--primary-font-color);
  background-color: var(--primary-bg-color);
  font-size: var(--primary-font-size);
  line-height: 22px;
}
p {
  text-align: justify;
}

.main {
  width: 90%;
  margin: 0 auto;
}

.headline2 {
  text-align: center;
}

.description {
  padding: 30px;
}
.description p {
  text-align: justify;
}

a {
  text-decoration: none;
  color: blue;
  transition: color 0.2s ease-in-out;
}
#footer a {
  color: black;
}
#footer :hover {
  color: red;
}
a:hover {
  color: red;
}

.input-wrapper {
  min-width: 230px; /*290px;*/
  margin: 5px;
}
.input-wrapper,
.slide-value {
  display: inline-block;
}

.slide {
  float: right;
  -webkit-appearance: none;
  min-width: 165px; /*225px;*/
  height: 14px;

  outline: none;
  opacity: 0.7;
  padding: 0px;
  margin: 2px 0px 2px 0px;

  border-radius: 14px;
  background: #ffffff;
  box-shadow: inset 26px 26px 52px #b3b3b3, inset -26px -26px 52px #ffffff;
  transition: opacity 0.3s ease-in-out;
}
.slide:hover {
  opacity: 1;
}
.slide::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 32px;
  height: 18px;
  cursor: pointer;
  border-radius: 15px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #969696, -0px -0px 0px #ffffff;
}
.slider::-moz-range-thumb {
  width: 35px;
  height: 20px;
  cursor: pointer;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 6px 6px 12px #969696, -0px -0px 0px #ffffff;
}

.slide-value {
  width: 65px;
  height: 20px;
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 0px 0px;
  margin-top: 2px;
  margin-left: 0px;
  margin-right: 10px;

  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 6px 6px 12px #969696, -6px -6px 12px #ffffff;
}

.someBtn {
  background-color: #ffffff;
  border: none;
  color: black;
  margin: 5px;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 15px;
  box-shadow: 16px 16px 32px #969696, -16px -16px 32px #ffffff;
  transition: box-shadow 0.3s ease-in-out;
}
.someBtn:hover {
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow: 8px 8px 16px #969696, -8px -8px 16px #ffffff;
  cursor: pointer;
}
.someBtn:active {
  background-color: #ffffff;
  box-shadow: inset 8px 8px 16px #969696, inset -8px -8px 16px #ffffff;
  /* transform: translateY(4px); */
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  opacity: 0.7;
  transition: opacity 0.3 ease-in-out;
  -webkit-transition: opacity 0.3 ease-in-out;
  -moz-transition: opacity 0.3 ease-in-out;
  -ms-transition: opacity 0.3 ease-in-out;
  -o-transition: opacity 0.3 ease-in-out;
}
.switch-slider:hover {
  opacity: 1;
}
.switch-slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: opacity 0.4s;
  -ms-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}
input:checked + .switch-slider {
  background-color: rgb(55, 184, 76);
}

input:focus + .switch-slider {
  box-shadow: 0 0 1px rgb(55, 184, 76);
}

input:checked + .switch-slider:before {
  transform: translateX(19px);
  -webkit-transform: translateX(19px);
  -ms-transform: translateX(19px);
}
.switch-slider {
  border-radius: 34px;
}
.switch-slider:before {
  border-radius: 50%;
}

/* X == input[type=="text"] field  */
.X-input-wrapper {
  display: inline-block;
  vertical-align: top;
  margin: 10px 0px 10px 15px;
  box-shadow: 8px 8px 16px #969696, -8px -8px 16px #ffffff;
  border-radius: 15px;
  padding-left: 15px;
  position: relative;
  padding: 7px 7px 7px 25px;
  transition: box-shadow 0.3s ease-in-out;
}
.X-input-wrapper:hover {
  box-shadow: 12px 12px 32px #969696, -12px -12px 32px #ffffff;
}
.X-input-wrapper input {
  position: relative;
  /* max-width: 70px; */
  margin-left: 5px;
  padding: 7px;

  border: none;
  border-radius: 10px;

  text-align: center;
  color: black;
  background-color: #ffffff;
  box-shadow: inset 2px 2px 16px #969696, inset -2px -2px 16px #ffffff;

  outline: none;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: box-shadow 0.3s ease-in-out;
}
.X-input-wrapper input:hover {
  box-shadow: inset 6px 6px 16px #969696, inset -6px -6px 16px #ffffff;
}

#footer {
  margin-bottom: 30px; /* Add a bottom margin to avoid content overlay */
}
/*
    # =========
    # =====================
    # =====================================
    # ===================================================================================
    # ===================================================================================
    // GENERAL
*/

/* PLOT AND INPUT CONTAINER */
.orbital-plot-content-wrapper {
  border-radius: 30px 30px 30px 30px;
  box-shadow: 26px 0px 52px #969696, -26px -26px 52px #ffffff;
  font-size: 0;
  margin-bottom: 4rem;
}

.orbital-input-section {
  border-radius: 15px 15px 15px 15px;
  /* box-shadow: 26px 26px 52px #969696, -26px -26px 52px #ffffff; */
  box-shadow: 8px 8px 16px #969696; /*, -8px -8px 16px #ffffff*/
  margin: 0 auto;
}

.line-plot-wrapper {
  width: 100%;
  height: 500px;
}
.line-plot-container {
  height: 500px;
}
/* ----- ----- ----- CONTOURPLOT STUFF ----- ----- ----- */
.contour-plot-wrapper {
  width: 80%;
  min-height: 600px;
  margin: 0 auto 4rem auto;
}

.contour_input_section {
  margin-top: 25px;
  min-height: 75px;
  width: 100%;
  border-radius: 0px 0px 30px 30px;
  box-shadow: 26px 26px 52px #969696, -26px -26px 52px #ffffff;
  font-size: 17px;
}

.contour_input_section .input-wrapper input[type="range"] {
  padding: 0px;
  margin-top: 0.5rem;
}

/* ----- BOTH PLOT KINDS ----- */

.line-plot-container,
.contour-plot-container {
  width: 98%;
  z-index: 5;
  position: relative;
  -webkit-transform: translateZ(0);
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  display: inline-block;
  margin: 0 auto;
}

/* ----- ----- ----- INPUT SECTION ----- ----- ----- */
.orbital-input-section {
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
}
.orbital-input-section button {
  margin: 15px 5px 15px 0px;
  vertical-align: top;
}

#custom-input-section {
  border-radius: 15px 15px 15px 15px;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 10px; /* Position the navbar at the bottom of the page */
  z-index: 10;
  width: 50%; /* Full width */
  background-color: white;
  left: 25%;
}

@media only screen and (max-width: 1350px) {
  #custom-input-section {
    width: 80%;
    left: 10%;
  }
}
